.parent {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  padding: 1rem;
}
.parent .createContainer {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  align-self: center;
  padding: 1.5rem;
  margin-top: 15%;
}

:host ::ng-deep p-button button {
  width: 100%;
  padding: 0.5rem;
}

.containerZitate {
  display: flex;
  flex-direction: column;
}
